.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 2;

  @media (max-width: $tablet-width) {
    columns: 1;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    margin-top: 5px;

    &--opened {
      display: block;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.nav-list__link {
  font-family: "PT Mono", "Courier", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-transform: lowercase;
  text-decoration: none;
  color: rgba($background-dark-blue, 0.5);
  white-space: nowrap;
  display: inline-block;

  &:hover {
    color: $basic-blue;
  }

  &:focus {
    color: $basic-blue;
  }

  &::first-letter {
    text-transform: uppercase;
  }

  @media (max-width: 1300px) {
    white-space: normal;
  }
}
