$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #666666;
$basic-blue: #00b2ff;

$background-dark-blue: #1b2d37;
$special-gray-line: #626962;
$special-gray-border: #ebebeb;

// viewports

$mobile-width: 767px;
$tablet-width: 1023px;
